<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="" >
    
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="qc:admins" content="56207406376255516375" />
    <title>登陆Snow订餐网</title>

<link rel="stylesheet" href="https://secure2.jmstatic.com/static_passport/dist/20150106_2/css/common.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/jumei_sign.css" type="text/css" media="screen" charset="utf-8" />
<script src="https://secure3.jmstatic.com/static_passport/dist/20150106_2/js/library/es5-shim.js"></script>
<script src="https://secure1.jmstatic.com/static_passport/dist/20150106_2/js/library/es5-sham.js"></script>

<script src="https://secure1.jmstatic.com/static_lib/dist/20141110/website.min.js"></script>
<script src="https://secure5.jmstatic.com/static_passport/dist/20150106_2/js/boot.js"></script>
<script src="https://secure4.jmstatic.com/static_passport/dist/20150106_2/js/library/jquery.cookie.js"></script>
</head>

</head>
<!-- KEEP THIS!
<body>
-->
<body>

<style>
    .top_nav_hot{ position: absolute;left:81px;top:-4px;}

</style>
<div id="header_container">
    <!--新版的login页面没有头部 -->
    <div id="logo">
        <a href="__APP__/Home/index/index" id="home" title="Snow" style="background:url( __PUBLIC__/image/snow1.jpg  ) no-repeat top left;">  </a>
      
    </div>
</div>

<link href="__PUBLIC__/css/login.css" rel="stylesheet"/>


<div class="sign">
    <div class="loginWrap">
        <div class="loginPic">
            <div class="loginBord">
                <div class="loginTit">
                    <div class="tosignup">还没有Snow账号？<a href="__APP__/Home/login/register">30秒注册</a></div>
                    <h1><strong>登陆Snow</strong></h1>
                </div>
                <form  method="post" action="__APP__/Home/login/logn" onsubmit="return sxj()">
                 
                    <div class="textbox_ui user">
                        <input type="text" placeholder="已验证手机/邮箱/用户名" id="username" name="username" autofocus autocomplete="off" value="" onblur="f()">
                        <div class="focus_text"></div><span id="f" style=""></span>
                        <div class="invalid">
                            <i></i>
                            <div class="msg"></div>
                        </div>
                    </div>
                    <div class="textbox_ui pass">
                        <input type="password" placeholder="密码" id="password" name="password" autocomplete="off"  onblur="c()">
                        <div class="focus_text"></div><span id="c"></span>
                        <div class="invalid">
                            <i></i>
                            <div class="msg"></div>
                        </div>
                    </div>
                    <!--<div class="verityWrap">
                        <div class="textbox_ui">
                            <input type="text" placeholder="验证码" autocomplete="off" id="verify_code">
                            <div class="focus_text">按右图填写，不区分大小写</div>
                            <div class="invalid">
                                <i></i>
                                <div class="msg"></div>
                            </div>
                        </div>
                        <span id="change_verify_code">
                            <img src="__APP__/Home/Login/verify">
                            换一张
                        </span>
                    </div>-->
                    <p>
                        <a href="" class="fr">忘记密码?</a>
                        <label for="auto_login">
                            <input type="checkbox" id="auto_login" checked>
                            &nbsp;自动登录
                        </label>
                    </p>
                    <input class="loginbtn" type="button" value="登 &nbsp;&nbsp;录" onclick="return c()" style="background-color:#e5406e;border:1px #ff0000 solid;color:white;font-weight:bold;height:37px;cursor:pointer;display: block;width: 100%;">
                </form>
<script src="__PUBLIC__/js/jq.js"></script>
<script type="text/javascript">
//alert($);
flag=0;
	function f(){
		username=$("#username").val();
		if(username==""){
			document.getElementById("f").innerHTML ="<font color='gray'>请输入登录名，登录名可能是您的手机号、邮箱或用户名</font>";
			return false;
		}else{
			document.getElementById("f").innerHTML ="";
			
		}
	}
	function c(){
		password=$("#password").val();
		if(password==""){
			document.getElementById("c").innerHTML ="<font color='gray'>请输入您密码，您的密码可能为字母、数字或符号的组合</font>";
			return false;
		}else{
			document.getElementById("c").innerHTML ="";
		}
		
		 $.ajax({
		   url:"__APP__/Home/login/logn",
		   data:{"username":username,"password":password},
		   type:"get",
		   success:function(e){
			//alert(e);
			if(e==1){
				$("#f").html("<font color='gray'>您输入的账号错误，请核对后重新输入或<a href=''>找回账号</a></font>");
				return false;
			}if(e==2){
				$("#c").html("<font color='gray'>您输入的密码错误，请核对后重新输入或<a href=''>找回密码</a></font>");
				return false;
			}else{
				location.href="__APP__/Home/index/index";
			}
		   }
		  });
}
	//表单阻止提交事件
	function sxj(){
		if(flag==0){
			return false;
		}else{
			return true;
		}
	}
</script>

                <div class="iconAccout" >
                    <div>你也可以使用以下账号登录</div>
                    <p>
                        <a href="" class="a1" title="QQ">QQ</a>
                        <a href="" class="a2" title="支付宝">支付宝</a>
                        <a href="" class="a3" title="新浪微博">新浪微博</a>
                        <a href="" class="a4" title="360">360</a>
                        <a href="" class="a5" title="百度">百度</a>
                       
                    </p>
           
                </div>
                <div class="shadow_l"></div>
                <div class="shadow_r"></div>
            </div>
        </div>
    </div>
</div>
</div>


</div>
<div class="clear"></div>


<div id="footer_container" style="padding-top:5px;background: none;border-top: none;">
    <div class="footer_con" id="footer_copyright">
        <p class="footer_copy_con">
            Copyright &copy; 2015-2015 北京07Snow有限公司 07snow.com 保留一切权利。客服地址：Bw丶38305 <br/>
            京公网安备 11010102001226 号 | <a href="" target="_blank" rel="nofollow">京ICP证111033号</a> | 食品流通许可证 SP1101051110165515（1-1）
            | <a href=""  rel="nofollow">营业执照</a>
        </p>
        <p>
			
            <a href=""  class="footer_copy_logo logo02" rel="nofollow"></a>
            <a href="javascript:void(0)" class="footer_copy_logo logo03" rel="nofollow"></a>
            <a href="javascript:void(0)" class="footer_copy_logo logo04" rel="nofollow"></a>
            <a href=""  class="footer_copy_logo logo05" rel="nofollow"></a>
        </p>
      
    </div>
</div>

</body>
</html>
