<include file="public/include/head.html"/>
    <div class="header_bottom">
        <div class="channel_nav_box">
            <div class="channel_nav_list_wrap clearfix">
            <ul class="channel_nav_list">
                    <li ><a href="http://www.jumei.com?from=Product_show_nav_fresh_new_2" class="home" >首页</a></li>
                    <li><a href="" target="_blank">一组</a></li>
                    <li><a href="">二组</a></li>
                    <li><a href="">三组</a></li>
                    <li >
                    	<a href="">四组<b></b></a>
                                                  <textarea class="pop_act_area">
			                    			                         <div class="mz_imglist">
	<a target="_blank" href="http://beauty.jumei.com?from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573"><img src="http://p0.jmstatic.com/banner/3481/30573_254_135_003-web.jpg" /></a>
	<a target="_blank" href="http://mall.jumei.com/luxury?from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573"><img src="http://p0.jmstatic.com/banner/3481/30573_254_135_002-web.jpg" /></a>
  </div>
<div class="mz_inner clearfix">
                                <dl style="border-left:none">
                                    <dt class="item_int png"><a> 国际大牌</a></dt>
                                    <dd><a href="http://lancome.jumei.com/?from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">兰蔻</a></dd>
                                    <dd><a href="http://clarins.jumei.com/?from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">娇韵诗</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9B%85%E8%AF%97%E5%85%B0%E9%BB%9B&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">雅诗兰黛</a></dd>
                                    <dd><a href="http://loreal.jumei.com/?from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">欧莱雅</a></dd>
                                    <dd><a href="http://laneige.jumei.com/?from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">兰芝</a></dd>
                                    <dd><a href="http://clinique.jumei.com/?from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">倩碧</a></dd>
                                    <dd><a href="http://skii.jumei.com/?from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">SK-II</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9B%85%E6%BC%BE&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">雅漾</a></dd>
                                    <dd><a href="http://jurlique.jumei.com/?from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">茱莉蔻</a></dd>                                    
                                </dl>
                                <dl>
                                    <dt class="item_hufu png"><a href="http://search.jumei.com/?filter=0-11-1&amp;search=护肤&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank"> 护肤</a></dt>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%B4%81%E9%9D%A2&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">洁面</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%88%BD%E8%82%A4%E6%B0%B4&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">爽肤水</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%BE%E5%8D%8E&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">精华</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E4%B9%B3%E6%B6%B2&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">乳液</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9D%A2%E9%9C%9C&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">面霜</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9C%BC%E9%9C%9C&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">眼霜</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9D%A2%E8%86%9C&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">面膜</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%8A%A4%E8%82%A4%E5%A5%97%E8%A3%85&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">护肤套装</a></dd>
                                </dl>
                                <dl>
                                    <dt class="item_caizhuang png"><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%BD%A9%E5%A6%86&from=all_null_index_top_nav_cosmetics&amp;cat=&amp;bid=1&lo=3481&mat=30573" target="_blank">彩妆</a></dt>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%8D%B8%E5%A6%86&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">卸妆</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=BB%E9%9C%9C&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">BB霜</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%89%E5%BA%95%E6%B6%B2&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">粉底液</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%89%E9%A5%BC&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">粉饼</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9C%BC%E5%BD%B1&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">眼影</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9C%BC%E7%BA%BF%E7%AC%94&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">眼线笔</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9D%AB%E6%AF%9B%E8%86%8F&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">睫毛膏</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9C%89%E7%AC%94&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">眉笔</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%8F%A3%E7%BA%A2&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">口红</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E8%85%AE%E7%BA%A2&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">腮红</a></dd>
                                </dl>
                                <dl style="border-bottom:none;border-left:none">
                                    <dt class="item_xiangfen png"><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%A6%99%E6%B0%B4&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">香氛</a></dt>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%A5%B3%E5%A3%AB%E9%A6%99%E6%B0%B4&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">女士香水</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E9%A6%99%E6%B0%B4&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">男士香水</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E4%B8%AD%E6%80%A7%E9%A6%99%E6%B0%B4&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">中性香水</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%A6%99%E6%B0%B4+5ml&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">Q版香水</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%A6%99%E6%B0%B4%E5%A5%97%E8%A3%85&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">香水套装</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%BE%E6%B2%B9&amp;cat=197&amp;bid=2_c&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">精油</a></dd>
                                </dl>
                                <dl style="border-bottom:none">
                                    <dt class="item_nanshi png"><a href="http://search.jumei.com/?filter=0-11-1&amp;search=男士护理&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">男士专区</a></dt>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%B4%81%E9%9D%A2&amp;cat=418&amp;bid=2_c&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">洁面</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E7%88%BD%E8%82%A4%E6%B0%B4&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">爽肤水</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9D%A2%E9%9C%9C&amp;cat=418&amp;bid=2_c&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">面霜</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%BE%E5%8D%8E&amp;cat=418&amp;bid=2_c&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">精华</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E5%A5%97%E8%A3%85&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">护肤套装</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E6%B4%97%E5%8F%91&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">洗发</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E6%B2%90%E6%B5%B4&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">沐浴</a></dd>
                                </dl>
                                <dl style="border-bottom:none">
                                    <dt class="item_hot png"><a>热门搜索</a></dt>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9D%A2%E8%86%9C%E8%B4%B4&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">面膜贴</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%B4%97%E9%9D%A2%E5%A5%B6&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">洗面奶</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%94%87%E8%86%8F&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">唇膏</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%8E%BB%E9%BB%91%E5%A4%B4&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">去黑头</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%A5%9B%E6%96%91&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">祛斑</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9A%94%E7%A6%BB&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">隔离</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%A5%9B%E7%97%98&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">祛痘</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%8E%BB%E8%A7%92%E8%B4%A8&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">去角质</a></dd>
                                    <dd><a href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%8C%87%E7%94%B2%E6%B2%B9&from=all_null_index_top_nav_cosmetics&lo=3481&mat=30573" target="_blank">指甲油</a></dd>
                                </dl>
 </div>
			                    
                         </textarea>
                                             </li>
                    <li class="bz " id="zpbz" >
                        <a href="">五组<b></b></a>
                        <ul class="bz_list">
                            <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html#jumei_ipo" target="_blank">在美上市</a></li>
                            <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html#brand_con" target="_blank">品牌防伪码</a></li>
                            <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html#unconditionally_backtrack" target="_blank">无理由退货</a></li>
                            <li><a href="http://hd.jumei.com/act/9-478-1673-sepuceshi.html" target="_blank">色谱检测</a></li>
                        </ul>
                    </li>
            </ul>
            <div class="header_pop_subAtc box-shadow" id="header_pop_subAct">
 
            </div>

           
                <!-- 加判断 -->
                <ul id="icon_wrap" class="icon_Wrap">
                        <li>
                            <div class="divlist divlist01">
                                <a target="_blank" href="http://hd.jumei.com/act/6-478-2230-aca.html?from=top"><span></span> <b>品牌防伪码</b></a>
                            </div>
                        </li>
                        <li>
                            <div class="divlist divlist02">
                                                                	<a target="_blank" href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=header#unconditionally_backtrack"><span class="th"></span><b>美妆30天无理由退货</b></a>
                                                            </div>
                        </li>
                        <li>
                            <div class="divlist divlist03">
                                                                	<a target="_blank" href="http://www.jumei.com/help/two_for_freeshipping?from=header"><span class="by"></span> <b>美妆满2件或299包邮</b></a>
                                                            </div>
                        </li>
                </ul>
                <!-- 加判断 -->
            </div>
        </div>
            </div>
</div>
</div>


    
            <div class="profile">
<script src="http://s0.jmstatic.com/templates/jumei/js/jquery/jquery.selectui.min.js"></script>
<!--[if lte IE 8]>
	<script src="http://s0.jmstatic.com/templates/jumei/js/v41.7/Jumei.Usercenter.ie.min.js?v13"></script>
<![endif]-->

<script type="text/javascript">
	var checkuid = 77210921;

	if(checkuid != $.cookie('uid')){
		$.getJSON('http://www.jumei.com/i/tools/diff_cookie?callback=?',{},function(){})
	}
</script>
<include file="public/include/left.html" />

<h1>我的收藏</h1>
<div class="content myfav">
<div class="notice_content">收藏心仪的产品或品牌，方便你随时找到它们，也有助于根据你的收藏给你更加贴心的推荐</div>
<div class="filter">
	<a href="http://www.jumei.com/i/product/fav_products" class="curr">我收藏的产品</a>
	<a href="http://www.jumei.com/i/product/fav_brands">我收藏的品牌</a>
</div>
	<!--没有收藏-->
	<div class="null_info">
		<h2>您还没有收藏任何产品喔！</h2>
	</div>
<!--可能收藏-->
<div class="maybe_like">
	<h2 class="fav_tit">猜你喜欢的产品</h2>

	<div class="fav_product_container">
		<div class="fav_product_list maybe_like_list">
			<ul>
															<!--mall-->
						<li class="fav_mall">
							<a href="http://mall.jumei.com/product_34.html?from=r_u_l_77210921_1-1"
							   class="img_wrap" target="_blank">
								<img src="http://p4.jmstatic.com/product/000/000/34_std/34_200_200.jpg"/>
							</a>

							<p class="pro_tit">
								<a href="http://mall.jumei.com/product_34.html?from=r_u_l_77210921_1-1"
								   target="_blank">
									完美芦荟胶一对 40g*2
								</a>
							</p>
							<a class="pro_price"
							   href="http://mall.jumei.com/product_34.html?from=r_u_l_77210921_1-1"
							   target="_blank">
								<strong><span>¥</span>69.9
								</strong><em>(9.1折)</em>																	<label>商城在售</label>
																</a>

							<p class="p_like">
								<a class="btnlike " href="javascript:;" pid="34">
									<span class="ilike_text"> 收藏</span>
									<span style="color: #999;">(<span
											class="ilike_num">128</span>)</span>
								</a>

							</p>
						</li>
																				<!--mall-->
						<li class="fav_mall">
							<a href="http://mall.jumei.com/product_307432.html?from=r_u_l_77210921_1-2"
							   class="img_wrap" target="_blank">
								<img src="http://p2.jmstatic.com/product/000/307/307432_std/307432_200_200.jpg"/>
							</a>

							<p class="pro_tit">
								<a href="http://mall.jumei.com/product_307432.html?from=r_u_l_77210921_1-2"
								   target="_blank">
									黑白能量3D声波净肤洁面仪(主机*1+替换刷头*1)
								</a>
							</p>
							<a class="pro_price"
							   href="http://mall.jumei.com/product_307432.html?from=r_u_l_77210921_1-2"
							   target="_blank">
								<strong><span>¥</span>190.8
								</strong><em>(6.4折)</em>																	<label>商城在售</label>
																</a>

							<p class="p_like">
								<a class="btnlike " href="javascript:;" pid="307432">
									<span class="ilike_text"> 收藏</span>
									<span style="color: #999;">(<span
											class="ilike_num">115</span>)</span>
								</a>

							</p>
						</li>
																				<!--mall-->
						<li class="fav_mall">
							<a href="http://mall.jumei.com/product_24078.html?from=r_u_l_77210921_1-3"
							   class="img_wrap" target="_blank">
								<img src="http://p3.jmstatic.com/product/000/024/24078_std/24078_200_200.jpg"/>
							</a>

							<p class="pro_tit">
								<a href="http://mall.jumei.com/product_24078.html?from=r_u_l_77210921_1-3"
								   target="_blank">
									河马家 清润矿物绿竹泥膜 240g
								</a>
							</p>
							<a class="pro_price"
							   href="http://mall.jumei.com/product_24078.html?from=r_u_l_77210921_1-3"
							   target="_blank">
								<strong><span>¥</span>89.9
								</strong><em>(5折)</em>																	<label>商城在售</label>
																</a>

							<p class="p_like">
								<a class="btnlike " href="javascript:;" pid="24078">
									<span class="ilike_text"> 收藏</span>
									<span style="color: #999;">(<span
											class="ilike_num">114</span>)</span>
								</a>

							</p>
						</li>
												</ul>
			<div class="clear"></div>
		</div>
	</div>
</div>

</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {


		$(".fav_product_list ul li").hover(function () {
			$(this).css("border", "solid 3px #fbd0df");
		}, function () {

			$(this).css("border", "solid 3px #fff");
		})
		var fav_pro_item = $(".faved .fav_product_list ul li");
		fav_pro_item.hover(function () {
			$(this).children(".p_like").stop("true", "false").fadeIn();
		}, function () {
			$(this).children(".p_like").stop("true", "false").fadeOut();
		})

		//like
		$(".maybe_like").delegate(".btnlike", 'click', function () {
			//$("#maybe_like .btnlike").click(function(){
			var _self = $(this);
			var product_id = $(this).attr("pid");
			jQuery.ajax({
				url:'/i/product/ajax_fav_product',
				type:'get',
				data:{product_id:product_id},
				dataType:'text',
				success:function (data, xhr) {
					if (xhr == "success") {
						_self.addClass("liked").children('.ilike_text').text("已收藏");
					}
					location.href = '/i/product/fav_products';
				}
			})

		});

		//unlike
		fav_pro_item.delegate(".btnunlike", 'click', function () {

			var _self = $(this),
					product_id = _self.attr("pid");
			var lightbox = {
				obj:$('<div class="confirm_box"><a href="javascript:;" class="close_light_box"></a>\
					<input type="hidden" value="' + product_id + '"/>\
					<div class="confirm_head"></div>\
					<p class="confirm_con">是否从我的收藏中删除?</p>\
					<a href="javascript:;" class="confirm_yes">是</a>\
					<a href="javascript:;" class="confirm_no">否</a>\
					</div>'),
				shadow:true,
				ele:_self
			};
			Jumei.Core.lightbox.init(lightbox);
			$(".confirm_box .confirm_yes").click(function () {

				var product_id = $(this).prev().prev().prev().val();
				jQuery.ajax({
					url:'/i/product/ajax_remove_fav_product',
					type:'POST',
					data:{product_id:product_id},
					dataType:'json',
					success:function (data) {

						Jumei.Core.lightbox.quit();

						if (data.isOk == "yes") {

							lightbox.ele.parent().parent().fadeTo(400, 0, function () {
								$(this).hide(400);
							});
							var like_num = $(".fph_tit label");
							like_num.text(like_num.text() - 1);
						}
					}
				});
			})
			$(".confirm_box .confirm_no").click(function () {

				Jumei.Core.lightbox.quit();
			})
			$(".close_light_box").click(function () {
				Jumei.Core.lightbox.quit();
			})

		});

	});

</script>


<style>
	.fav_deal .pro_price {
		  background: url(http://s0.jmstatic.com/templates/jumei/images/favbg.jpg);
	}
	.fav_deal .pro_price.soon {
		  background: url(http://s0.jmstatic.com/templates/jumei/images/favbg_soon.jpg);
	}
</style>


    <div class="clear"></div>    
    
<div id="footer_container" >
    <div id="footer_textarea">
        <div style="display:none"><a href="http://www.jumei.com/deals/new.html">每日更新</a></div>
        <textarea style="display: none">                <div class="footer_top">
                <div class="footer_con" id="footer_credit">
                    <a  href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer" class="foot_link mostmall" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>最大美妆电商</b></span>四千万用户信赖
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#jumei_ipo" class="foot_link quality" target="_blank"  rel="nofollow">
                        <span class="corn"></span><span class="con"><b>成功在美上市</b></span>股票代码NYSE:JMEI
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#brand_con" class="foot_link back" rel="nofollow" target="_blank">
                        <span class="corn"></span><span class="con"><b>品牌防伪码</b></span>支持品牌官网验真
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#unconditionally_backtrack" class="foot_link depot" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>30天无理由退货</b></span>只要不满意无理由退货
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#user_confide" class="foot_link consignment" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>百万用户口碑</b></span>帮你只选对的,不选贵的
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#bold_consignment" class="foot_link packaging" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>订单闪电发货</b></span>1.5小时订单急速出库
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#star_commend" class="foot_link confide" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>大牌明星热荐</b></span>打造精致明星脸
                    </a>
                </div>
        </div>
        <div class="footer_top_sen">
                <div class="footer_con" id="footer_links">
                    <ul class="linksa png">
                        <li class="links">服务保障</li>
                        <li><a href="http://www.jumei.com/act/6-478-2232-guarantee.html?from=footer#brand_con" target="_blank" rel="nofollow">品牌真品防伪码</a></li>
                        <li><a href="http://www.jumei.com/act/6-478-2232-guarantee.html?from=footer" target="_blank" rel="nofollow">100%正品保证</a></li>
                        <li><a href="http://www.jumei.com/act/6-478-2232-guarantee.html?from=footer#unconditionally_backtrack" target="_blank" rel="nofollow">30天无条件退货</a></li>                       
                        <li><a href="http://www.jumei.com/help/faq?from=footer" target="_blank" rel="nofollow">7×24小时客服服务</a></li>
                        <li><span class="footer_zcemail">总裁邮箱ceo@jumei.com</span></li>
                    </ul>

                    <ul class="linksb png">
                        <li class="links">使用帮助</li>
                        <li><a href="http://www.jumei.com/help/guidebook?from=footer" target="_blank" rel="nofollow">新手指南</a></li>
                        <li><a href="http://www.jumei.com/help/faq?from=footer" target="_blank" rel="nofollow">常见问题</a></li>
                        <li><a href="http://www.jumei.com/help/main?from=footer" target="_blank" rel="nofollow">帮助中心</a></li>
                        <li><a href="http://www.jumei.com/i/help/user_terms?from=footer" target="_blank" rel="nofollow">用户协议</a></li>
                        <li><a href="http://www.jumei.com/activity_qiye_tuangou.html?from=footer" target="_blank" rel="nofollow">企业用户团购</a></li>
                    </ul>

                    <ul class="linksc png">
                        <li class="links">支付方式</li>
                        <li><a href="http://www.jumei.com/help/pay_cod?from=footer" target="_blank" rel="nofollow">货到付款</a></li>
                        <li><a href="http://www.jumei.com/help/pay_online?from=footer" target="_blank" rel="nofollow">在线支付</a></li>
                        <li><a href="http://www.jumei.com/help/pay_balance?from=footer" target="_blank" rel="nofollow">余额支付</a></li>
                        <li><a href="http://www.jumei.com/help/pay_promocards?from=footer" target="_blank" rel="nofollow">现金券支付</a></li>
                    </ul>

                    <ul class="linksd png">
                        <li class="links">配送方式</li>
                        <li><a href="http://www.jumei.com/help/two_for_freeshipping?from=footer" target="_blank" rel="nofollow">包邮政策</a></li>
                        <li><a href="http://www.jumei.com/help/delivery_state?from=footer" target="_blank" rel="nofollow">配送说明</a></li>
                        <li><a href="http://www.jumei.com/help/delivery_fee?from=footer" target="_blank" rel="nofollow">运费说明</a></li>
                        <li><a href="http://www.jumei.com/help/check_goods?from=footer" target="_blank" rel="nofollow">验货签收</a></li>
                    </ul>

                    <ul class="linkse png">
                        <li class="links">售后服务</li>
                        <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer" target="_blank" rel="nofollow">正品承诺</a></li>
                        <li><a href="http://www.jumei.com/help/faq?from=footer" target="_blank" rel="nofollow">售后咨询</a></li>
                        <li><a href="http://www.jumei.com/help/refund_policies?from=footer" target="_blank" rel="nofollow">退货政策</a></li>
                        <li><a href="http://www.jumei.com/help/refund_handle?from=footer" target="_blank" rel="nofollow">退货办理</a></li>
                    </ul>

                    <span class="links_er_box">
                        <ul class="linksf">
                            <li class="links">手机聚美</li>
                            <li><span class="link_bottom_pic"></span></li>
                            <li>下载移动客户端</li>
                        </ul>
                        <ul class="linksg">
                            <li class="links">聚美微信</li>
                            <li><span class="link_bottom_pic"></span></li>
                            <li>聚美官方微信</li>
                        </ul>
                    </span>
                </div>
        </div>
        <div class="footer_dy" id="footer_dy">
            <div class="play_box"><span class="play"></span></div>
        </div>
        <div class="footer_center" >
            <div class="footer_con" id="footer_link">
                    <a href="http://www.jumei.com/about/about_us?from=footer" target="_blank" rel="nofollow">关于翻滚吧！蛋炒饭</a>
                    <a href="http://jumei.investorroom.com?from=footer" target="_blank" rel="nofollow">INVESTOR RELATIONS</a>
                    <a href="http://hd.jumei.com/act/9-478-2448-pop_invite_business_page.html?site=sh&from=footer" target="_blank" rel="nofollow">商家入驻</a>
                    <a href="http://www.jumei.com/help/get_update?from=footer" target="_blank" rel="nofollow">获取更新</a>
                    <a href="http://jumeizhaopin.hirede.com?from=footer" target="_blank" rel="nofollow">加入聚美</a>
                    <a href="http://www.jumei.com/i/market/cooperation?from=footer" target="_blank" rel="nofollow">品牌合作专区</a>
                    <a href="http://cps.jumei.com?from=footer" target="_blank" rel="nofollow">网站联盟</a>
                    <a href="http://www.jumei.com/about/news_center?from=footer" target="_blank" rel="nofollow">媒体报道</a>
                    <a href="http://www.jumei.com/about/business?from=footer" target="_blank" rel="nofollow">商务合作</a>
            </div>
        </div>
        
        <div id="footer_copyright">
            <div class="footer_con">
                <p class="footer_copy_con">
                    COPYRIGHT &copy; 2010-2015 北京创锐文化传媒有限公司 JUMEI.COM 保留一切权利。                  
                    客服热线：400-123-8888 
                    <br/>
                    京公网安备 11010102001226 | <a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank" rel="nofollow">京ICP证111033号</a> | 食品流通许可证 SP1101051110165515（1-1）
                    | <a href="http://p2.jmstatic.com/activity/2013_chuangrui.jpeg" target="_blank" rel="nofollow">营业执照</a>
                </p>
                <p>
                    <a href="javascript:void(0)" class="footer_copy_logo logo01" rel="nofollow"></a>
                    <a href="https://www.itrust.org.cn/yz/pjwx.asp?wm=1693268180" target="_blank" class="footer_copy_logo logo02" rel="nofollow"></a>
                    <a href="javascript:void(0)" class="footer_copy_logo logo03" rel="nofollow"></a>
                    <a href="javascript:void(0)" class="footer_copy_logo logo04" rel="nofollow"></a>
                    <a href="https://ss.knet.cn/verifyseal.dll?sn=e12070911010031011307708&ct=df&pa=453163" target="_blank" class="footer_copy_logo logo05" rel="nofollow"></a>
                </p>
            
                <script>function change_urlknet(eleId){var str= document.getElementById(eleId).href;var str1 =str.substring(0,(str.length-6));str1+=RndNum(6);document.getElementById(eleId).href=str1;}function RndNum(k){var rnd="";for (var i=0;i<k;i++){rnd+=Math.floor(Math.random()*10);}return rnd;}</script>
            
            </div>
        </div>

        </textarea>    </div>
</div>





    
    <script type="text/javascript" charset="utf-8" src="http://s0.jmstatic.com/templates/jumei/js/lib/sea.js?v2.3"></script>
            
                
                
                
    
<script type="text/javascript">
$(document).ready(function () {
    Jumei.Core.init();
        for(var i in Jumei.Core.afterInitFunctions)
        Jumei.Core.afterInitFunctions[i].call();
    
    /*
    if(Math.abs(RM_CLIENT_TIME-RM_SERVER_TIME)>=86400) {
            var serverDate = new Date(RM_SERVER_TIME * 1000);
            var clientDate = new Date(RM_CLIENT_TIME * 1000);
            function d(d) { return d.getFullYear()+"年"+(d.getMonth()+1)+"月"+d.getDate()+"日 "+d.getHours()+"时"+d.getMinutes()+"分";}
            Jumei.Core.postAdhocNotification($('#container'), false, "prepend", {
                type: "error",
                message: "您的计算机时间("+d(clientDate)+")可能不对，可能会导致购物遇到问题。请把计算机时间调整为正确时间("+d(serverDate)+")"
            });
    }
    */
});
</script>
<script type="text/javascript" charset="utf-8" src="http://s0.jmstatic.com/templates/jumei/js//v41.7/Jumei.ClickMap.min.js?v13"></script>

            <style>
.wish2_nav{
left: 50%;
margin-left: -620px;
}
</style>
        
    
<script type="text/javascript">

// adwq
(function() {
    
    var new_signup = getCookie('new_signup');
    if ( new_signup !== null ){
        _adwq.push(['_setAction',
            '20rf07',
            RM_UID,       // 扩展参数, 可填 用户名 或 用户ID(可选)
            'new_signup' // 事件价值 (可选)
        ]);
        
        $.cookie('new_signup',null,{path:'/',domain:RM_SITE_MAIN_TOPLEVELDOMAINNAME});
    }
    
    
    var adw = document.createElement('script');
    adw.type = 'text/javascript';
    adw.async = true;
    adw.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://s') + '.emarbox.com/js/adw.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(adw, s);
})();




//ga
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'http://s0.jmstatic.com/templates/jumei/js/jquery/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    
})();

    
//baidu tongji
(function() {
    var baidu_tongji = document.createElement('script'); baidu_tongji.type = 'text/javascript';
    baidu_tongji.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'hm.baidu.com/h.js?884477732c15fb2f2416fb892282394b';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(baidu_tongji, s);
})();


(function (d) {
window.bd_cpro_rtid="rjfzrHc";
var s = d.createElement("script");s.type = "text/javascript";s.async = true;s.src = location.protocol + "//cpro.baidu.com/cpro/ui/rt.js";
var s0 = d.getElementsByTagName("script")[0];s0.parentNode.insertBefore(s, s0);
})(document);



</script>
<script type="text/javascript">

(function() {
    if ( jumeiSstatisticsAction == 1 ){
    //调用方式，调用必须在参数设置之后
        var jm_tj = document.createElement('script');
        jm_tj.type = 'text/javascript';
        jm_tj.async = true;
        jm_tj.src = 'http://s0.jmstatic.com/templates/jumei/js/jquery/Jumei.AdStatistics.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(jm_tj, s);
    }
})();

if(RM_SITE == 'cd'){
    window["_BFD"] = window["_BFD"] || {};
    _BFD.client_id = "Ctest_jumei";
    _BFD.script = document.createElement("script");
    _BFD.script.type = "text/javascript";
    _BFD.script.async = true;
    _BFD.script.charset = "utf-8";
    _BFD.script.src = (('https:' == document.location.protocol?'https://ssl-static1':'http://static1')+'.baifendian.com/service/jumeiyoupin/jumeiyoupin.js');
    document.getElementsByTagName("head")[0].appendChild(_BFD.script);
}
</script>
</body>
</html>