<include file="public/include/head.html"/>

    <div class="header_bottom">
        <div class="channel_nav_box">
            <div class="channel_nav_list_wrap clearfix">
            <ul class="channel_nav_list">
                    <li ><a href="http://www.jumei.com?from=Account_show_nav_fresh_new_2" class="home" >首页</a></li>
                    <li><a href="" target="_blank">一组</a></li>
                    <li><a href="">二组</a></li>
                    <li><a href="">三组</a></li>
                    <li >
                    	<a href="">四组<b></b></a>
                                                  
                                             </li>
                    <li class="bz " id="zpbz" >
                        <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=Account_show_nav_popcosm_new">五组<b></b></a>
                        <ul class="bz_list">
                            <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html#jumei_ipo" target="_blank">在美上市</a></li>
                            <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html#brand_con" target="_blank">品牌防伪码</a></li>
                            <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html#unconditionally_backtrack" target="_blank">无理由退货</a></li>
                            <li><a href="http://hd.jumei.com/act/9-478-1673-sepuceshi.html" target="_blank">色谱检测</a></li>
                        </ul>
                    </li>
            </ul>
            <div class="header_pop_subAtc box-shadow" id="header_pop_subAct">
 
            </div>

           
                <!-- 加判断 -->
                <ul id="icon_wrap" class="icon_Wrap">
                        <li>
                            <div class="divlist divlist01">
                                <a target="_blank" href="http://hd.jumei.com/act/6-478-2230-aca.html?from=top"><span></span> <b>品牌防伪码</b></a>
                            </div>
                        </li>
                        <li>
                            <div class="divlist divlist02">
                                                                	<a target="_blank" href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=header#unconditionally_backtrack"><span class="th"></span><b>美妆30天无理由退货</b></a>
                                                            </div>
                        </li>
                        <li>
                            <div class="divlist divlist03">
                                                                	<a target="_blank" href="http://www.jumei.com/help/two_for_freeshipping?from=header"><span class="by"></span> <b>美妆满2件或299包邮</b></a>
                                                            </div>
                        </li>
                </ul>
                <!-- 加判断 -->
            </div>
        </div>
            </div>
</div>
</div>


    
            

<div class="profile">
	<script src="http://s0.jmstatic.com/templates/jumei/js/jquery/jquery.selectui.min.js"></script>
<!--[if lte IE 8]>
	<script src="http://s0.jmstatic.com/templates/jumei/js/v41.7/Jumei.Usercenter.ie.min.js?v13"></script>
<![endif]-->

<script type="text/javascript">
	var checkuid = 77210921;

	if(checkuid != $.cookie('uid')){
		$.getJSON('http://www.jumei.com/i/tools/diff_cookie?callback=?',{},function(){})
	}
</script>

<include file="public/include/left.html" />

	<h1>设置账户信息</h1>
<div class="content">
	<form id="settings-form" method="post" action="__APP__/Home/User/updata">
        <input type="hidden" name="h_id" value="{$list['user_id']}">
		<div class="avatar_change">
			<img src="{$list['image']}" alt="大头像" />
			<a href="__APP__/Home/User/touxiang" class="changeavatar">修改头像</a>
		</div>

		<div class="input_container">
			<label for="settings-username"><span class="spark">*</span>用户名</label>
                        <!-- <input required type="text" size="30" name="username" id="settings-username" class="t_input" value="JM183XCEN5785" pattern="(?!^\d)[\w\u4e00-\u9fa5\uF900-\uFA2D]{4,16}"> -->

		
			<input required type="text" size="30" name="user_name" id="settings-username" class="t_input" value="{$list['user_name']}">
			<span class="valueMissing">请填写您的用户名</span>
                        <span class="customError">用户名应为4-16个中英文字符，不能以数字开头</span>
                        <!-- <span class="patternMismatch">用户名应为4-16个中英文字符，不能以数字开头</span> -->
		</div>

		<dl class="formlist">
			<dt>Email</dt>
			<dd>
							<span class="data">{$list['user_email']}</span>
				
										</dd>
		</dl>

		<dl class="formlist">
			<dt>手机号</dt>
			<dd>
							<span class="data">{$list['user_iphone']}</span>
				
						</dd>
		</dl>

		<div class="input_container">
			<label>性别</label>
			<label class="radio">
				<span class="radio_ui">
					<input name="user_radio" type="radio" id="gender_f" autocomplete="off" value="2" checked="checked" />
					<b></b>
				</span>
				女
			</label>
			<label class="radio">
				<span class="radio_ui">
					<input name="user_radio" type="radio" id="gender_m" autocomplete="off" value="1"/>
					<b></b>
				</span>
				男
			</label>
		</div>
		<div class="input_container">
			<label><span class="spark">*</span>生日</label>
			<select name="birthday_year" id="birthday_year" required="true">
<option label="" value=""></option>
<option label="2010" value="2010">2010</option>
<option label="2009" value="2009">2009</option>
<option label="2008" value="2008">2008</option>
<option label="2007" value="2007">2007</option>
<option label="2006" value="2006">2006</option>
<option label="2005" value="2005">2005</option>
<option label="2004" value="2004">2004</option>
<option label="2003" value="2003">2003</option>
<option label="2002" value="2002">2002</option>
<option label="2001" value="2001">2001</option>
<option label="2000" value="2000">2000</option>
<option label="1999" value="1999">1999</option>
<option label="1998" value="1998">1998</option>
<option label="1997" value="1997">1997</option>
<option label="1996" value="1996">1996</option>
<option label="1995" value="1995">1995</option>
<option label="1994" value="1994">1994</option>
<option label="1993" value="1993">1993</option>
<option label="1992" value="1992">1992</option>
<option label="1991" value="1991">1991</option>
<option label="1990" value="1990">1990</option>
<option label="1989" value="1989">1989</option>
<option label="1988" value="1988">1988</option>
<option label="1987" value="1987">1987</option>
<option label="1986" value="1986">1986</option>
<option label="1985" value="1985">1985</option>
<option label="1984" value="1984">1984</option>
<option label="1983" value="1983">1983</option>
<option label="1982" value="1982">1982</option>
<option label="1981" value="1981">1981</option>
<option label="1980" value="1980">1980</option>
<option label="1979" value="1979">1979</option>
<option label="1978" value="1978">1978</option>
<option label="1977" value="1977">1977</option>
<option label="1976" value="1976">1976</option>
<option label="1975" value="1975">1975</option>
<option label="1974" value="1974">1974</option>
<option label="1973" value="1973">1973</option>
<option label="1972" value="1972">1972</option>
<option label="1971" value="1971">1971</option>
<option label="1970" value="1970">1970</option>
<option label="1969" value="1969">1969</option>
<option label="1968" value="1968">1968</option>
<option label="1967" value="1967">1967</option>
<option label="1966" value="1966">1966</option>
<option label="1965" value="1965">1965</option>
<option label="1964" value="1964">1964</option>
<option label="1963" value="1963">1963</option>
<option label="1962" value="1962">1962</option>
<option label="1961" value="1961">1961</option>
<option label="1960" value="1960">1960</option>
<option label="1959" value="1959">1959</option>
<option label="1958" value="1958">1958</option>
<option label="1957" value="1957">1957</option>
<option label="1956" value="1956">1956</option>
<option label="1955" value="1955">1955</option>
<option label="1954" value="1954">1954</option>
<option label="1953" value="1953">1953</option>
<option label="1952" value="1952">1952</option>
<option label="1951" value="1951">1951</option>
<option label="1950" value="1950">1950</option>
<option label="1949" value="1949">1949</option>
</select>
<span class="text">年</span>
			<select name="birthday_month" id="birthday_month" required="true">
<option label="" value=""></option>
<option label="1" value="1">1</option>
<option label="2" value="2">2</option>
<option label="3" value="3">3</option>
<option label="4" value="4">4</option>
<option label="5" value="5">5</option>
<option label="6" value="6">6</option>
<option label="7" value="7">7</option>
<option label="8" value="8">8</option>
<option label="9" value="9">9</option>
<option label="10" value="10">10</option>
<option label="11" value="11">11</option>
<option label="12" value="12">12</option>
</select>
<span class="text">月</span>
			<select name="birthday_day" id="birthday_day" required="true">
<option label="" value=""></option>
<option label="1" value="1">1</option>
<option label="2" value="2">2</option>
<option label="3" value="3">3</option>
<option label="4" value="4">4</option>
<option label="5" value="5">5</option>
<option label="6" value="6">6</option>
<option label="7" value="7">7</option>
<option label="8" value="8">8</option>
<option label="9" value="9">9</option>
<option label="10" value="10">10</option>
<option label="11" value="11">11</option>
<option label="12" value="12">12</option>
<option label="13" value="13">13</option>
<option label="14" value="14">14</option>
<option label="15" value="15">15</option>
<option label="16" value="16">16</option>
<option label="17" value="17">17</option>
<option label="18" value="18">18</option>
<option label="19" value="19">19</option>
<option label="20" value="20">20</option>
<option label="21" value="21">21</option>
<option label="22" value="22">22</option>
<option label="23" value="23">23</option>
<option label="24" value="24">24</option>
<option label="25" value="25">25</option>
<option label="26" value="26">26</option>
<option label="27" value="27">27</option>
<option label="28" value="28">28</option>
<option label="29" value="29">29</option>
<option label="30" value="30">30</option>
<option label="31" value="31">31</option>
</select>
<span class="text">日</span>
			<span class="otherError">请填写您的生日</span>
			<div class="act">
				<span class="status_red">准确填写生日，有机会获得更多惊喜哦！</span>
			</div>
		</div>

		<div class="input_container">
			<label>隐私</label>
			<label class="checkbox">
				<span class="checkbox_ui">
					<input type="checkbox" value="1" id="hide_privacy" name="hide_privacy" />
					<b></b>
				</span>
				不显示我的年龄
			</label>
			<label class="checkbox">
				<span class="checkbox_ui">
					<input type="checkbox" value="1" id="show_my_products" name="show_my_products" />
					<b></b>
				</span>
				在口碑中心显示我的订餐
			</label>
		</div>
		
		<div class="input_container">
			<label for="comment">订餐宣言</label>
			<textarea rows="8" cols="50" id="comment" name="comment">{$list['message']}</textarea>
		</div>
	
		<div class="act">
			<input type="submit" value="保存修改" name="commit" id="settings-submit">
		</div>
	</form>
</div>
<script src="http://s0.jmstatic.com/templates/jumei/js/jquery/jquery.jmvalidate.min.js" data-h5f="http://s0.jmstatic.com/templates/jumei/js/jquery/H5F.min.js"></script>
<script type="text/javascript">


 (function($){
     /**
             * 字符串的真实长度，汉字占2长度
             * @param {String} text
             */
            function reallength(str){
                return str.replace(/[^\x00-\xff]/g, "^^").length;
            }
     
     
	$(".content .changeavatar").click(function(e) {
		$(this).closest("form").attr("action", this.href).submit();
		return false;
	});
	var year = $("[name='birthday_year']"),
		month = $("[name='birthday_month']"),
		day = $("[name='birthday_day']"),
		days = $("[name='birthday_day']").children();
	year.add(month).change(function(e){
		var mVal = month.val(),
			dVal = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][mVal - 1],
			yVal = year.val(),
			selected = day[0].selectedIndex;
		if(mVal){
			if(mVal == 2 && yVal%4 == 0 && (yVal%100 !=0 || yVal%400 == 0)){
				dVal = 29;
			}
			days.each(function(){
				if(this.value > dVal){
					$(this).remove();
				} else {
					day.append(this);
				}
			});
			day[0].selectedIndex = Math.min(selected, dVal);
		}
	});
	
	var blurTimer,
		container = year.closest(".input_container");

	year.add(month).add(day).bind("change invalid", function(){
		clearTimeout(blurTimer);
		blurTimer = setTimeout(function(){
			var msg = container.find(".otherError");
			if(year.val() && month.val() && day.val()){
				msg.hide();
			} else {
				msg.css("display", "inline-block");
			}
		},1);
	});

     $username = $("#settings-form").jmucvalidate().find('#settings-username');
     $username.change(function() {
         var str = this.value;
         var length = reallength(str);
         if(length < 4 || length > 16 || /^\d/.test(str)) {
             this.setCustomValidity('用户名应为4-16个中英文字符，不能以数字开头');
         } else {
             this.setCustomValidity('');
         }
     });

})(jQuery);
</script>
<style>
.selectwidth .select_text_ui {
	width: 90px;
}
</style>
</div>



    <div class="clear"></div>    
    
<div id="footer_container" >
    <div id="footer_textarea">
        <div style="display:none"><a href="http://www.jumei.com/deals/new.html">每日更新</a></div>
        <textarea style="display: none">                <div class="footer_top">
                <div class="footer_con" id="footer_credit">
                    <a  href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer" class="foot_link mostmall" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>最大美妆电商</b></span>四千万用户信赖
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#jumei_ipo" class="foot_link quality" target="_blank"  rel="nofollow">
                        <span class="corn"></span><span class="con"><b>成功在美上市</b></span>股票代码NYSE:JMEI
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#brand_con" class="foot_link back" rel="nofollow" target="_blank">
                        <span class="corn"></span><span class="con"><b>品牌防伪码</b></span>支持品牌官网验真
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#unconditionally_backtrack" class="foot_link depot" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>30天无理由退货</b></span>只要不满意无理由退货
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#user_confide" class="foot_link consignment" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>百万用户口碑</b></span>帮你只选对的,不选贵的
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#bold_consignment" class="foot_link packaging" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>订单闪电发货</b></span>1.5小时订单急速出库
                    </a>
                    <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#star_commend" class="foot_link confide" target="_blank" rel="nofollow">
                        <span class="corn"></span><span class="con"><b>大牌明星热荐</b></span>打造精致明星脸
                    </a>
                </div>
        </div>
        <div class="footer_top_sen">
                <div class="footer_con" id="footer_links">
                    <ul class="linksa png">
                        <li class="links">服务保障</li>
                        <li><a href="http://www.jumei.com/act/6-478-2232-guarantee.html?from=footer#brand_con" target="_blank" rel="nofollow">品牌真品防伪码</a></li>
                        <li><a href="http://www.jumei.com/act/6-478-2232-guarantee.html?from=footer" target="_blank" rel="nofollow">100%正品保证</a></li>
                        <li><a href="http://www.jumei.com/act/6-478-2232-guarantee.html?from=footer#unconditionally_backtrack" target="_blank" rel="nofollow">30天无条件退货</a></li>                       
                        <li><a href="http://www.jumei.com/help/faq?from=footer" target="_blank" rel="nofollow">7×24小时客服服务</a></li>
                        <li><span class="footer_zcemail">总裁邮箱ceo@jumei.com</span></li>
                    </ul>

                    <ul class="linksb png">
                        <li class="links">使用帮助</li>
                        <li><a href="http://www.jumei.com/help/guidebook?from=footer" target="_blank" rel="nofollow">新手指南</a></li>
                        <li><a href="http://www.jumei.com/help/faq?from=footer" target="_blank" rel="nofollow">常见问题</a></li>
                        <li><a href="http://www.jumei.com/help/main?from=footer" target="_blank" rel="nofollow">帮助中心</a></li>
                        <li><a href="http://www.jumei.com/i/help/user_terms?from=footer" target="_blank" rel="nofollow">用户协议</a></li>
                        <li><a href="http://www.jumei.com/activity_qiye_tuangou.html?from=footer" target="_blank" rel="nofollow">企业用户团购</a></li>
                    </ul>

                    <ul class="linksc png">
                        <li class="links">支付方式</li>
                        <li><a href="http://www.jumei.com/help/pay_cod?from=footer" target="_blank" rel="nofollow">货到付款</a></li>
                        <li><a href="http://www.jumei.com/help/pay_online?from=footer" target="_blank" rel="nofollow">在线支付</a></li>
                        <li><a href="http://www.jumei.com/help/pay_balance?from=footer" target="_blank" rel="nofollow">余额支付</a></li>
                        <li><a href="http://www.jumei.com/help/pay_promocards?from=footer" target="_blank" rel="nofollow">现金券支付</a></li>
                    </ul>

                    <ul class="linksd png">
                        <li class="links">配送方式</li>
                        <li><a href="http://www.jumei.com/help/two_for_freeshipping?from=footer" target="_blank" rel="nofollow">包邮政策</a></li>
                        <li><a href="http://www.jumei.com/help/delivery_state?from=footer" target="_blank" rel="nofollow">配送说明</a></li>
                        <li><a href="http://www.jumei.com/help/delivery_fee?from=footer" target="_blank" rel="nofollow">运费说明</a></li>
                        <li><a href="http://www.jumei.com/help/check_goods?from=footer" target="_blank" rel="nofollow">验货签收</a></li>
                    </ul>

                    <ul class="linkse png">
                        <li class="links">售后服务</li>
                        <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer" target="_blank" rel="nofollow">正品承诺</a></li>
                        <li><a href="http://www.jumei.com/help/faq?from=footer" target="_blank" rel="nofollow">售后咨询</a></li>
                        <li><a href="http://www.jumei.com/help/refund_policies?from=footer" target="_blank" rel="nofollow">退货政策</a></li>
                        <li><a href="http://www.jumei.com/help/refund_handle?from=footer" target="_blank" rel="nofollow">退货办理</a></li>
                    </ul>

                    <span class="links_er_box">
                        <ul class="linksf">
                            <li class="links">手机聚美</li>
                            <li><span class="link_bottom_pic"></span></li>
                            <li>下载移动客户端</li>
                        </ul>
                        <ul class="linksg">
                            <li class="links">聚美微信</li>
                            <li><span class="link_bottom_pic"></span></li>
                            <li>聚美官方微信</li>
                        </ul>
                    </span>
                </div>
        </div>
        <div class="footer_dy" id="footer_dy">
            <div class="play_box"><span class="play"></span></div>
        </div>
        <div class="footer_center" >
            <div class="footer_con" id="footer_link">
                    <a href="http://www.jumei.com/about/about_us?from=footer" target="_blank" rel="nofollow">关于订餐菜单</a>
                    <a href="http://jumei.investorroom.com?from=footer" target="_blank" rel="nofollow">INVESTOR RELATIONS</a>
                    <a href="http://hd.jumei.com/act/9-478-2448-pop_invite_business_page.html?site=gz&from=footer" target="_blank" rel="nofollow">商家入驻</a>
                    <a href="http://www.jumei.com/help/get_update?from=footer" target="_blank" rel="nofollow">获取更新</a>
                    <a href="http://jumeizhaopin.hirede.com?from=footer" target="_blank" rel="nofollow">加入聚美</a>
                    <a href="http://www.jumei.com/i/market/cooperation?from=footer" target="_blank" rel="nofollow">品牌合作专区</a>
                    <a href="http://cps.jumei.com?from=footer" target="_blank" rel="nofollow">网站联盟</a>
                    <a href="http://www.jumei.com/about/news_center?from=footer" target="_blank" rel="nofollow">媒体报道</a>
                    <a href="http://www.jumei.com/about/business?from=footer" target="_blank" rel="nofollow">商务合作</a>
            </div>
        </div>
        
        <div id="footer_copyright">
            <div class="footer_con">
                <p class="footer_copy_con">
                    COPYRIGHT &copy; 2010-2015 北京创锐文化传媒有限公司 JUMEI.COM 保留一切权利。                  
                    客服热线：400-123-8888 
                    <br/>
                    京公网安备 11010102001226 | <a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank" rel="nofollow">京ICP证111033号</a> | 食品流通许可证 SP1101051110165515（1-1）
                    | <a href="http://p2.jmstatic.com/activity/2013_chuangrui.jpeg" target="_blank" rel="nofollow">营业执照</a>
                </p>
                <p>
                    <a href="javascript:void(0)" class="footer_copy_logo logo01" rel="nofollow"></a>
                    <a href="https://www.itrust.org.cn/yz/pjwx.asp?wm=1693268180" target="_blank" class="footer_copy_logo logo02" rel="nofollow"></a>
                    <a href="javascript:void(0)" class="footer_copy_logo logo03" rel="nofollow"></a>
                    <a href="javascript:void(0)" class="footer_copy_logo logo04" rel="nofollow"></a>
                    <a href="https://ss.knet.cn/verifyseal.dll?sn=e12070911010031011307708&ct=df&pa=453163" target="_blank" class="footer_copy_logo logo05" rel="nofollow"></a>
                </p>
            
                <script>function change_urlknet(eleId){var str= document.getElementById(eleId).href;var str1 =str.substring(0,(str.length-6));str1+=RndNum(6);document.getElementById(eleId).href=str1;}function RndNum(k){var rnd="";for (var i=0;i<k;i++){rnd+=Math.floor(Math.random()*10);}return rnd;}</script>
            
            </div>
        </div>

        </textarea>    </div>
</div>





    
    <script type="text/javascript" charset="utf-8" src="http://s0.jmstatic.com/templates/jumei/js/lib/sea.js?v2.3"></script>
            
                
                
                    <script type="text/javascript" charset="utf-8" src="http://s0.jmstatic.com/templates/jumei/js/v41.7/??/Jumei.Account.min.js??v13"></script>
                
    
<script type="text/javascript">
$(document).ready(function () {
    Jumei.Core.init();
                        Jumei.Account.init();
             
        

        for(var i in Jumei.Core.afterInitFunctions)
        Jumei.Core.afterInitFunctions[i].call();
    
    /*
    if(Math.abs(RM_CLIENT_TIME-RM_SERVER_TIME)>=86400) {
            var serverDate = new Date(RM_SERVER_TIME * 1000);
            var clientDate = new Date(RM_CLIENT_TIME * 1000);
            function d(d) { return d.getFullYear()+"年"+(d.getMonth()+1)+"月"+d.getDate()+"日 "+d.getHours()+"时"+d.getMinutes()+"分";}
            Jumei.Core.postAdhocNotification($('#container'), false, "prepend", {
                type: "error",
                message: "您的计算机时间("+d(clientDate)+")可能不对，可能会导致购物遇到问题。请把计算机时间调整为正确时间("+d(serverDate)+")"
            });
    }
    */
});
</script>
<script type="text/javascript" charset="utf-8" src="http://s0.jmstatic.com/templates/jumei/js//v41.7/Jumei.ClickMap.min.js?v13"></script>

            <style>
.wish2_nav{
left: 50%;
margin-left: -620px;
}
</style>
        
    
<script type="text/javascript">

// adwq
(function() {
    
    var new_signup = getCookie('new_signup');
    if ( new_signup !== null ){
        _adwq.push(['_setAction',
            '20rf07',
            RM_UID,       // 扩展参数, 可填 用户名 或 用户ID(可选)
            'new_signup' // 事件价值 (可选)
        ]);
        
        $.cookie('new_signup',null,{path:'/',domain:RM_SITE_MAIN_TOPLEVELDOMAINNAME});
    }
    
    
    var adw = document.createElement('script');
    adw.type = 'text/javascript';
    adw.async = true;
    adw.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://s') + '.emarbox.com/js/adw.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(adw, s);
})();




//ga
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'http://s0.jmstatic.com/templates/jumei/js/jquery/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    
})();

    
//baidu tongji
(function() {
    var baidu_tongji = document.createElement('script'); baidu_tongji.type = 'text/javascript';
    baidu_tongji.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'hm.baidu.com/h.js?884477732c15fb2f2416fb892282394b';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(baidu_tongji, s);
})();


(function (d) {
window.bd_cpro_rtid="rjfzrHc";
var s = d.createElement("script");s.type = "text/javascript";s.async = true;s.src = location.protocol + "//cpro.baidu.com/cpro/ui/rt.js";
var s0 = d.getElementsByTagName("script")[0];s0.parentNode.insertBefore(s, s0);
})(document);



</script>
<script type="text/javascript">

(function() {
    if ( jumeiSstatisticsAction == 1 ){
    //调用方式，调用必须在参数设置之后
        var jm_tj = document.createElement('script');
        jm_tj.type = 'text/javascript';
        jm_tj.async = true;
        jm_tj.src = 'http://s0.jmstatic.com/templates/jumei/js/jquery/Jumei.AdStatistics.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(jm_tj, s);
    }
})();

if(RM_SITE == 'cd'){
    window["_BFD"] = window["_BFD"] || {};
    _BFD.client_id = "Ctest_jumei";
    _BFD.script = document.createElement("script");
    _BFD.script.type = "text/javascript";
    _BFD.script.async = true;
    _BFD.script.charset = "utf-8";
    _BFD.script.src = (('https:' == document.location.protocol?'https://ssl-static1':'http://static1')+'.baifendian.com/service/jumeiyoupin/jumeiyoupin.js');
    document.getElementsByTagName("head")[0].appendChild(_BFD.script);
}



</script>
</body>
</html>