<include file="public/include/head.html"/>
    <div class="header_bottom">
        <div class="channel_nav_box">
            <div class="channel_nav_list_wrap clearfix">
            <ul class="channel_nav_list">
                    <li><a href="http://www.jumei.com/?from=Account_show_nav_fresh_new_2" class="home">首页</a></li>
                    <li><a href="http://www.jumeiglobal.com/?from=Account_show_nav_fresh_new_2" target="_blank">极速免税店</a></li>
                    <li><a href="http://pop.jumei.com/dress_sport" target="_blank">服装运动</a></li>
                    <li><a href="http://pop.jumei.com/shoe_bag" target="_blank">鞋包配饰</a></li>
                    <li>
                    	<a href="http://mall.jumei.com/?from=Account_show_nav_fresh_new_2">美妆商城<b></b></a>
                                                  <textarea class="pop_act_area">
			                    			                         &lt;div 
class="mz_imglist"&gt;
	&lt;a target="_blank" 
href="http://beauty.jumei.com?from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"&gt;&lt;img
 src="http://p0.jmstatic.com/banner/3481/30573_254_135_003-web.jpg" 
/&gt;&lt;/a&gt;
	&lt;a target="_blank" 
href="http://mall.jumei.com/xihu?from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"&gt;&lt;img
 src="http://p0.jmstatic.com/banner/3481/30573_254_135_005-web.jpg" 
/&gt;&lt;/a&gt;
  &lt;/div&gt;
&lt;div class="mz_inner clearfix"&gt;
                                &lt;dl style="border-left:none"&gt;
                                    &lt;dt class="item_int 
png"&gt;&lt;a&gt; 国际大牌&lt;/a&gt;&lt;/dt&gt;
                                    &lt;dd&gt;&lt;a 
href="http://lancome.jumei.com/?from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;兰蔻&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://clarins.jumei.com/?from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;娇韵诗&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9B%85%E8%AF%97%E5%85%B0%E9%BB%9B&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;雅诗兰黛&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://loreal.jumei.com/?from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;欧莱雅&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://laneige.jumei.com/?from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;兰芝&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://clinique.jumei.com/?from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;倩碧&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://skii.jumei.com/?from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;SK-II&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9B%85%E6%BC%BE&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;雅漾&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://jurlique.jumei.com/?from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;茱莉蔻&lt;/a&gt;&lt;/dd&gt;                            
        
                                &lt;/dl&gt;
                                &lt;dl&gt;
                                    &lt;dt class="item_hufu 
png"&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=护肤&amp;
from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573" 
target="_blank"&gt; 护肤&lt;/a&gt;&lt;/dt&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%B4%81%E9%9D%A2&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;洁面&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%88%BD%E8%82%A4%E6%B0%B4&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;爽肤水&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%BE%E5%8D%8E&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;精华&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E4%B9%B3%E6%B6%B2&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;乳液&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9D%A2%E9%9C%9C&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;面霜&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9C%BC%E9%9C%9C&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;眼霜&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9D%A2%E8%86%9C&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;面膜&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%8A%A4%E8%82%A4%E5%A5%97%E8%A3%85&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;护肤套装&lt;/a&gt;&lt;/dd&gt;
                                &lt;/dl&gt;
                                &lt;dl&gt;
                                    &lt;dt class="item_caizhuang 
png"&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%BD%A9%E5%A6%86&amp;from=all_null_index_top_nav_cosmetics&amp;cat=&amp;bid=1&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;彩妆&lt;/a&gt;&lt;/dt&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%8D%B8%E5%A6%86&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;卸妆&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=BB%E9%9C%9C&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;BB霜&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%89%E5%BA%95%E6%B6%B2&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;粉底液&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%89%E9%A5%BC&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;粉饼&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9C%BC%E5%BD%B1&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;眼影&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9C%BC%E7%BA%BF%E7%AC%94&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;眼线笔&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9D%AB%E6%AF%9B%E8%86%8F&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;睫毛膏&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%9C%89%E7%AC%94&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;眉笔&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%8F%A3%E7%BA%A2&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;口红&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E8%85%AE%E7%BA%A2&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;腮红&lt;/a&gt;&lt;/dd&gt;
                                &lt;/dl&gt;
                                &lt;dl 
style="border-bottom:none;border-left:none"&gt;
                                    &lt;dt class="item_xiangfen 
png"&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%A6%99%E6%B0%B4&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;香氛&lt;/a&gt;&lt;/dt&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%A5%B3%E5%A3%AB%E9%A6%99%E6%B0%B4&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;女士香水&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E9%A6%99%E6%B0%B4&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;男士香水&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E4%B8%AD%E6%80%A7%E9%A6%99%E6%B0%B4&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;中性香水&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%A6%99%E6%B0%B4+5ml&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;Q版香水&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%A6%99%E6%B0%B4%E5%A5%97%E8%A3%85&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;香水套装&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%BE%E6%B2%B9&amp;cat=197&amp;bid=2_c&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;精油&lt;/a&gt;&lt;/dd&gt;
                                &lt;/dl&gt;
                                &lt;dl style="border-bottom:none"&gt;
                                    &lt;dt class="item_nanshi 
png"&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=男士护理&amp;
from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573" 
target="_blank"&gt;男士专区&lt;/a&gt;&lt;/dt&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%B4%81%E9%9D%A2&amp;cat=418&amp;bid=2_c&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;洁面&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E7%88%BD%E8%82%A4%E6%B0%B4&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;爽肤水&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9D%A2%E9%9C%9C&amp;cat=418&amp;bid=2_c&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;面霜&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%B2%BE%E5%8D%8E&amp;cat=418&amp;bid=2_c&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;精华&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E5%A5%97%E8%A3%85&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;护肤套装&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E6%B4%97%E5%8F%91&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;洗发&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%94%B7%E5%A3%AB%E6%B2%90%E6%B5%B4&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;沐浴&lt;/a&gt;&lt;/dd&gt;
                                &lt;/dl&gt;
                                &lt;dl style="border-bottom:none"&gt;
                                    &lt;dt class="item_hot 
png"&gt;&lt;a&gt;热门搜索&lt;/a&gt;&lt;/dt&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9D%A2%E8%86%9C%E8%B4%B4&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;面膜贴&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%B4%97%E9%9D%A2%E5%A5%B6&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;洗面奶&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%94%87%E8%86%8F&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;唇膏&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%8E%BB%E9%BB%91%E5%A4%B4&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;去黑头&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%A5%9B%E6%96%91&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;祛斑&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E9%9A%94%E7%A6%BB&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;隔离&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E7%A5%9B%E7%97%98&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;祛痘&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E5%8E%BB%E8%A7%92%E8%B4%A8&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;去角质&lt;/a&gt;&lt;/dd&gt;
                                    &lt;dd&gt;&lt;a 
href="http://search.jumei.com/?filter=0-11-1&amp;search=%E6%8C%87%E7%94%B2%E6%B2%B9&amp;from=all_null_index_top_nav_cosmetics&amp;lo=3481&amp;mat=30573"
 target="_blank"&gt;指甲油&lt;/a&gt;&lt;/dd&gt;
                                &lt;/dl&gt;
 &lt;/div&gt;
			                    
                         </textarea>
                                             </li>
                    <li class="bz" id="zpbz">
                        <a href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=Account_show_nav_popcosm_new">正品保证<b></b></a>
                        <ul class="bz_list">
                            <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html#jumei_ipo" target="_blank">在美上市</a></li>
                            <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html#brand_con" target="_blank">品牌防伪码</a></li>
                            <li><a href="http://hd.jumei.com/act/6-478-2232-guarantee.html#unconditionally_backtrack" target="_blank">无理由退货</a></li>
                            <li><a href="http://hd.jumei.com/act/9-478-1673-sepuceshi.html" target="_blank">色谱检测</a></li>
                        </ul>
                    </li>
            </ul>
            <div class="header_pop_subAtc box-shadow" id="header_pop_subAct">
 
            </div>

           
                <!-- 加判断 -->
                <ul id="icon_wrap" class="icon_Wrap">
                        <li style="width: 30px; display: list-item;">
                            <div class="divlist divlist01">
                                <a target="_blank" href="http://hd.jumei.com/act/6-478-2230-aca.html?from=top"><span></span> <b>品牌防伪码</b></a>
                            </div>
                        </li>
                        <li style="width: 30px; display: list-item;">
                            <div class="divlist divlist02">
                                                                	<a target="_blank" href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=header#unconditionally_backtrack"><span class="th"></span><b>美妆30天无理由退货</b></a>
                                                            </div>
                        </li>
                        <li style="width: 30px; display: list-item;">
                            <div class="divlist divlist03">
                                                                	<a target="_blank" href="http://www.jumei.com/help/two_for_freeshipping?from=header"><span class="by"></span> <b>美妆满2件或299包邮</b></a>
                                                            </div>
                        </li>
                </ul>
                <!-- 加判断 -->
            </div>
        </div>
            </div>
</div>
</div>


    
            

<div class="profile">
	<script src="../../../public/js/jquery.js"></script>
<!--[if lte IE 8]>
	<script src="http://s0.jmstatic.com/templates/jumei/js/v41.8/Jumei.Usercenter.ie.min.js?v20"></script>
<![endif]-->

<script type="text/javascript">
	var checkuid = 77210921;

	if(checkuid != $.cookie('uid')){
		$.getJSON('http://www.jumei.com/i/tools/diff_cookie?callback=?',{},function(){})
	}
</script>

<include file="public/include/left.html" />


	<h1>个人头像</h1>
<div class="content avatar">
	<p class="view">
		<span><img id="im" width="200px" height="200px" src="{$list['image']}" alt="大头像" /></span>
		<span><img id="ima" width="64px" height="64px" src="{$list['image']}" alt="小头像" /></span>
	</p>
	<form method="post" enctype="multipart/form-data">
		<p>
			选择头像
			&nbsp;
			<label class="btn_mid_pink fileup_ui">
				<span>选择文件</span>
				<input id="file_upload" name="file_upload" type="file" multiple="true" value="" />
			</label>
			&nbsp;
			<span class="path"></span>
		</p>
		<script>
		var img = '';
               $('#file_upload').uploadify({
                   
                       'uploader' : '{:U("User/upload")}',   //上传的方法
                       'buttonText' : '修改头像',
                       'onUploadSuccess' : function(file, data, response) {
						   alert(file);alert(data);alert(response);
                        //把所有上传的图片都放入img中
                        img = "__PUBLIC__/uploads/"+data;
							if(data)
							{
								$('#im').attr('src',img);
								$('#ima').attr('src',img);
							}else{
								alert('上传图片不符合规定大小');						
							}
			}
		   });
		</script>

		<p>
			友情提示：更换头像后，其他地方（如口碑中心等）的头像可能需要过一段时间才会生效
		</p>
		<p>
			<input value="更新头像" name="commit" id="settings-submit" class="formbutton" type="submit">
			或者
			<a href="__APP__/Home/User/gr_yhxx">编辑个人信息</a>
		</p>
	</form>
</div>
<script src="../../../public/js/jquery_002.js"></script>

<script>
var file;
$("[type=file]").imagesUpload({
	error: function (info){
		file = 0;
		$(".path").html("");
		$(".view span").css("background-image", "");
		alert(info.name + "不是图片文件，请选择一个图片文件");
	},
	callback: function(info, path){
		if(path){
			$(".view span").css("background-image", "url(" + path + ")").addClass("file");
		} else {
			$(".path").text(info.name);
		}
		file = 1;
	}
});
$("form").submit(function(e) {
	if(!file){
		alert("请选择一个图片文件")
		return false;
	}
});
</script>
<style>
.profile .avatar {
	padding-left: 60px;
}
.avatar p {
	margin-bottom: 15px;
}
.avatar .view {
	margin-left: 60px;
}
.view span {
	background-position: center;
	background-size: cover;
	vertical-align: bottom;
	display: inline-block;
	margin-right: 10px;
	*zoom: 1;
}
.view img {
	display: block;
}
.file img {
	visibility: hidden;
}
</style>
</div>



    <div class="clear"></div>    
    
<div id="footer_container">
    <div id="footer_textarea">
        <div style="display:none"><a href="http://www.jumei.com/deals/new.html">每日更新</a></div>
        <textarea style="display: none">                &lt;div 
class="footer_top"&gt;
                &lt;div class="footer_con" id="footer_credit"&gt;
                    &lt;a  
href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer" 
class="foot_link mostmall" target="_blank" rel="nofollow"&gt;
                        &lt;span class="corn"&gt;&lt;/span&gt;&lt;span 
class="con"&gt;&lt;b&gt;最大美妆电商&lt;/b&gt;&lt;/span&gt;四千万用户信赖
                    &lt;/a&gt;
                    &lt;a 
href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#jumei_ipo"
 class="foot_link quality" target="_blank"  rel="nofollow"&gt;
                        &lt;span class="corn"&gt;&lt;/span&gt;&lt;span 
class="con"&gt;&lt;b&gt;成功在美上市&lt;/b&gt;&lt;/span&gt;股票代码NYSE:JMEI
                    &lt;/a&gt;
                    &lt;a 
href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#brand_con"
 class="foot_link back" rel="nofollow" target="_blank"&gt;
                        &lt;span class="corn"&gt;&lt;/span&gt;&lt;span 
class="con"&gt;&lt;b&gt;品牌防伪码&lt;/b&gt;&lt;/span&gt;支持品牌官网验真
                    &lt;/a&gt;
                    &lt;a 
href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#unconditionally_backtrack"
 class="foot_link depot" target="_blank" rel="nofollow"&gt;
                        &lt;span class="corn"&gt;&lt;/span&gt;&lt;span 
class="con"&gt;&lt;b&gt;30天无理由退货&lt;/b&gt;&lt;/span&gt;只要不满意无理由退货
                    &lt;/a&gt;
                    &lt;a 
href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#user_confide"
 class="foot_link consignment" target="_blank" rel="nofollow"&gt;
                        &lt;span class="corn"&gt;&lt;/span&gt;&lt;span 
class="con"&gt;&lt;b&gt;百万用户口碑&lt;/b&gt;&lt;/span&gt;帮你只选对的,不选贵的
                    &lt;/a&gt;
                    &lt;a 
href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#bold_consignment"
 class="foot_link packaging" target="_blank" rel="nofollow"&gt;
                        &lt;span class="corn"&gt;&lt;/span&gt;&lt;span 
class="con"&gt;&lt;b&gt;订单闪电发货&lt;/b&gt;&lt;/span&gt;1.5小时订单急速出库
                    &lt;/a&gt;
                    &lt;a 
href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer#star_commend"
 class="foot_link confide" target="_blank" rel="nofollow"&gt;
                        &lt;span class="corn"&gt;&lt;/span&gt;&lt;span 
class="con"&gt;&lt;b&gt;大牌明星热荐&lt;/b&gt;&lt;/span&gt;打造精致明星脸
                    &lt;/a&gt;
                &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="footer_top_sen"&gt;
                &lt;div class="footer_con" id="footer_links"&gt;
                    &lt;ul class="linksa png"&gt;
                        &lt;li class="links"&gt;服务保障&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/act/6-478-2232-guarantee.html?from=footer#brand_con"
 target="_blank" rel="nofollow"&gt;品牌真品防伪码&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/act/6-478-2232-guarantee.html?from=footer" 
target="_blank" rel="nofollow"&gt;100%正品保证&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/act/6-478-2232-guarantee.html?from=footer#unconditionally_backtrack"
 target="_blank" rel="nofollow"&gt;30天无条件退货&lt;/a&gt;&lt;/li&gt;        
               
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/faq?from=footer" target="_blank" 
rel="nofollow"&gt;7×24小时客服服务&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;span 
class="footer_zcemail"&gt;总裁邮箱ceo@jumei.com&lt;/span&gt;&lt;/li&gt;
                    &lt;/ul&gt;

                    &lt;ul class="linksb png"&gt;
                        &lt;li class="links"&gt;使用帮助&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/guidebook?from=footer" target="_blank" 
rel="nofollow"&gt;新手指南&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/faq?from=footer" target="_blank" 
rel="nofollow"&gt;常见问题&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/main?from=footer" target="_blank" 
rel="nofollow"&gt;帮助中心&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/i/help/user_terms?from=footer" 
target="_blank" rel="nofollow"&gt;用户协议&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/activity_qiye_tuangou.html?from=footer" 
target="_blank" rel="nofollow"&gt;企业用户团购&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;

                    &lt;ul class="linksc png"&gt;
                        &lt;li class="links"&gt;支付方式&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/pay_cod?from=footer" target="_blank" 
rel="nofollow"&gt;货到付款&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/pay_online?from=footer" target="_blank" 
rel="nofollow"&gt;在线支付&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/pay_balance?from=footer" target="_blank"
 rel="nofollow"&gt;余额支付&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/pay_promocards?from=footer" 
target="_blank" rel="nofollow"&gt;现金券支付&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;

                    &lt;ul class="linksd png"&gt;
                        &lt;li class="links"&gt;配送方式&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/two_for_freeshipping?from=footer" 
target="_blank" rel="nofollow"&gt;包邮政策&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/delivery_state?from=footer" 
target="_blank" rel="nofollow"&gt;配送说明&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/delivery_fee?from=footer" 
target="_blank" rel="nofollow"&gt;运费说明&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/check_goods?from=footer" target="_blank"
 rel="nofollow"&gt;验货签收&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;

                    &lt;ul class="linkse png"&gt;
                        &lt;li class="links"&gt;售后服务&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://hd.jumei.com/act/6-478-2232-guarantee.html?from=footer" 
target="_blank" rel="nofollow"&gt;正品承诺&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/faq?from=footer" target="_blank" 
rel="nofollow"&gt;售后咨询&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/refund_policies?from=footer" 
target="_blank" rel="nofollow"&gt;退货政策&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a 
href="http://www.jumei.com/help/refund_handle?from=footer" 
target="_blank" rel="nofollow"&gt;退货办理&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;

                    &lt;span class="links_er_box"&gt;
                        &lt;ul class="linksf"&gt;
                            &lt;li class="links"&gt;手机聚美&lt;/li&gt;
                            &lt;li&gt;&lt;span 
class="link_bottom_pic"&gt;&lt;/span&gt;&lt;/li&gt;
                            &lt;li&gt;下载移动客户端&lt;/li&gt;
                        &lt;/ul&gt;
                        &lt;ul class="linksg"&gt;
                            &lt;li class="links"&gt;聚美微信&lt;/li&gt;
                            &lt;li&gt;&lt;span 
class="link_bottom_pic"&gt;&lt;/span&gt;&lt;/li&gt;
                            &lt;li&gt;聚美官方微信&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/span&gt;
                &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="footer_dy" id="footer_dy"&gt;
            &lt;div class="play_box"&gt;&lt;span 
class="play"&gt;&lt;/span&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="footer_center" &gt;
            &lt;div class="footer_con" id="footer_link"&gt;
                    &lt;a 
href="http://www.jumei.com/about/about_us?from=footer" target="_blank" 
rel="nofollow"&gt;关于聚美优品&lt;/a&gt;
                    &lt;a 
href="http://jumei.investorroom.com?from=footer" target="_blank" 
rel="nofollow"&gt;INVESTOR RELATIONS&lt;/a&gt;
                    &lt;a 
href="http://hd.jumei.com/act/9-478-2448-pop_invite_business_page.html?site=bj&amp;from=footer"
 target="_blank" rel="nofollow"&gt;商家入驻&lt;/a&gt;
                    &lt;a 
href="http://www.jumei.com/help/get_update?from=footer" target="_blank" 
rel="nofollow"&gt;获取更新&lt;/a&gt;
                    &lt;a 
href="http://jumeizhaopin.hirede.com?from=footer" target="_blank" 
rel="nofollow"&gt;加入聚美&lt;/a&gt;
                    &lt;a 
href="http://www.jumei.com/i/market/cooperation?from=footer" 
target="_blank" rel="nofollow"&gt;品牌合作专区&lt;/a&gt;
                    &lt;a href="http://cps.jumei.com?from=footer" 
target="_blank" rel="nofollow"&gt;网站联盟&lt;/a&gt;
                    &lt;a 
href="http://www.jumei.com/about/news_center?from=footer" 
target="_blank" rel="nofollow"&gt;媒体报道&lt;/a&gt;
                    &lt;a 
href="http://www.jumei.com/about/business?from=footer" target="_blank" 
rel="nofollow"&gt;商务合作&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        
        &lt;div id="footer_copyright"&gt;
            &lt;div class="footer_con"&gt;
                &lt;p class="footer_copy_con"&gt;
                    COPYRIGHT © 2010-2015 北京创锐文化传媒有限公司 JUMEI.COM 保留一切权利。
                  
                    客服热线：400-123-8888 
                    &lt;br/&gt;
                    京公网安备 11010102001226 | &lt;a 
href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" 
target="_blank" rel="nofollow"&gt;京ICP证111033号&lt;/a&gt; | 食品流通许可证 
SP1101051110165515（1-1）
                    | &lt;a 
href="http://p2.jmstatic.com/activity/2013_chuangrui.jpeg" 
target="_blank" rel="nofollow"&gt;营业执照&lt;/a&gt;
                &lt;/p&gt;
                &lt;p&gt;
                    &lt;a href="javascript:void(0)" 
class="footer_copy_logo logo01" rel="nofollow"&gt;&lt;/a&gt;
                    &lt;a 
href="https://www.itrust.org.cn/yz/pjwx.asp?wm=1693268180" 
target="_blank" class="footer_copy_logo logo02" 
rel="nofollow"&gt;&lt;/a&gt;
                    &lt;a href="javascript:void(0)" 
class="footer_copy_logo logo03" rel="nofollow"&gt;&lt;/a&gt;
                    &lt;a href="javascript:void(0)" 
class="footer_copy_logo logo04" rel="nofollow"&gt;&lt;/a&gt;
                    &lt;a 
href="https://ss.knet.cn/verifyseal.dll?sn=e12070911010031011307708&amp;ct=df&amp;pa=453163"
 target="_blank" class="footer_copy_logo logo05" 
rel="nofollow"&gt;&lt;/a&gt;
                &lt;/p&gt;
            
                &lt;script&gt;function change_urlknet(eleId){var str= 
document.getElementById(eleId).href;var str1 
=str.substring(0,(str.length-6));str1+=RndNum(6);document.getElementById(eleId).href=str1;}function
 RndNum(k){var rnd="";for (var 
i=0;i&lt;k;i++){rnd+=Math.floor(Math.random()*10);}return 
rnd;}&lt;/script&gt;
            
            &lt;/div&gt;
        &lt;/div&gt;

        </textarea>    </div>
</div>





    
    <script type="text/javascript" charset="utf-8" src="../../../public/js/sea.js"></script>
            
                
                
                    <script type="text/javascript" charset="utf-8" src="../../../public/js/a_002.js"></script>
                
    
<script type="text/javascript">
$(document).ready(function () {
    Jumei.Core.init();
                        Jumei.Account.init();
             
        

        for(var i in Jumei.Core.afterInitFunctions)
        Jumei.Core.afterInitFunctions[i].call();
    
    /*
    if(Math.abs(RM_CLIENT_TIME-RM_SERVER_TIME)>=86400) {
            var serverDate = new Date(RM_SERVER_TIME * 1000);
            var clientDate = new Date(RM_CLIENT_TIME * 1000);
            function d(d) { return d.getFullYear()+"年"+(d.getMonth()+1)+"月"+d.getDate()+"日 "+d.getHours()+"时"+d.getMinutes()+"分";}
            Jumei.Core.postAdhocNotification($('#container'), false, "prepend", {
                type: "error",
                message: "您的计算机时间("+d(clientDate)+")可能不对，可能会导致购物遇到问题。请把计算机时间调整为正确时间("+d(serverDate)+")"
            });
    }
    */
});
</script>
<script type="text/javascript" charset="utf-8" src="publilc/js/Jumei.js"></script>

            <style>
.wish2_nav{
left: 50%;
margin-left: -620px;
}
</style>
        
    
<script type="text/javascript">

// adwq
(function() {
    
    var new_signup = getCookie('new_signup');
    if ( new_signup !== null ){
        _adwq.push(['_setAction',
            '20rf07',
            RM_UID,       // 扩展参数, 可填 用户名 或 用户ID(可选)
            'new_signup' // 事件价值 (可选)
        ]);
        
        $.cookie('new_signup',null,{path:'/',domain:RM_SITE_MAIN_TOPLEVELDOMAINNAME});
    }
    
    
    var adw = document.createElement('script');
    adw.type = 'text/javascript';
    adw.async = true;
    adw.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://s') + '.emarbox.com/js/adw.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(adw, s);
})();




//ga
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'http://s0.jmstatic.com/templates/jumei/js/jquery/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    
})();

    
//baidu tongji
(function() {
    var baidu_tongji = document.createElement('script'); baidu_tongji.type = 'text/javascript';
    baidu_tongji.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'hm.baidu.com/h.js?884477732c15fb2f2416fb892282394b';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(baidu_tongji, s);
})();


(function (d) {
window.bd_cpro_rtid="rjfzrHc";
var s = d.createElement("script");s.type = "text/javascript";s.async = true;s.src = location.protocol + "//cpro.baidu.com/cpro/ui/rt.js";
var s0 = d.getElementsByTagName("script")[0];s0.parentNode.insertBefore(s, s0);
})(document);



</script>
<script type="text/javascript">

(function() {
    if ( jumeiSstatisticsAction == 1 ){
    //调用方式，调用必须在参数设置之后
        var jm_tj = document.createElement('script');
        jm_tj.type = 'text/javascript';
        jm_tj.async = true;
        jm_tj.src = 'http://s0.jmstatic.com/templates/jumei/js/jquery/Jumei.AdStatistics.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(jm_tj, s);
    }
})();

if(RM_SITE == 'cd'){
    window["_BFD"] = window["_BFD"] || {};
    _BFD.client_id = "Ctest_jumei";
    _BFD.script = document.createElement("script");
    _BFD.script.type = "text/javascript";
    _BFD.script.async = true;
    _BFD.script.charset = "utf-8";
    _BFD.script.src = (('https:' == document.location.protocol?'https://ssl-static1':'http://static1')+'.baifendian.com/service/jumeiyoupin/jumeiyoupin.js');
    document.getElementsByTagName("head")[0].appendChild(_BFD.script);
}



</script>

<div style="display:inline;visibility: hidden;"><img style="border-style:none;" alt="" src="%E4%B8%AA%E4%BA%BA%E5%A4%B4%E5%83%8F%20-%20%E8%81%9A%E7%BE%8E%E4%BC%98%E5%93%81_files/a.gif" height="1" width="1"></div><input id="search_page_wait_time_start" value="1421827332294" type="hidden"><input id="search_page_wait_time" value="0" type="hidden"><iframe id="emar_box_pv" src="%E4%B8%AA%E4%BA%BA%E5%A4%B4%E5%83%8F%20-%20%E8%81%9A%E7%BE%8E%E4%BC%98%E5%93%81_files/_adw.htm" style="width: 1px; border: 0px none; position: absolute; left: -100px; top: -100px; height: 1px;"></iframe></body></html>